* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
  /* width: 30%; */
}

.container {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

/* label {
  margin-bottom: 0.25rem;
} */

input {
  margin-bottom: 1rem;
}